body, html{
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #22223B;
}


.montserrat-font{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

nav{
    background-color: #4A4E69;
    
}

nav > ul{
    margin: 0;
    display: flex;
    height: 5em;
    align-items: center;
}

.logo{
    margin-right: auto;
}

.logo img{
    height: 4em;
    border: 4px solid black;
    border-radius: 5px;
    transition-property: border-radius;
    transition-duration: 1.5s;
}

.logo img:hover{
    border-radius: 50%;
}

nav button{
    border-radius: 4px;
    margin: 0 4px;
    transition-property: background-color;
    transition-duration: .4s;
}

nav button:hover{
    background-color: #dda15e;
}

#heroImage > img{
    width: 100%;
}

.center{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F2E9E4;
    font-family: "Montserrat";
    font-size: 4em;

}

.article{
    display: flex;
    margin-top: 5em;
    padding: 5px;;
    margin-bottom: 3em;

}


#articleText{
    width: 70%;
    color: #F2E9E4;
}

.article > img{
    border: 4px solid #9A8C98;
    width: 20em;
}

.userBox{
    background-color: #C9ADA7;
    height: 40em;
    width: 30em;
    margin: auto;
    margin-top: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    align-items: center;
}

.userBox > input{
    height: 1.5em;
    border-radius: 5px;
}

.userBox > select{
    height: 2em;
    width: 12em;
}

.table{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F2E9E4;
    padding-bottom: 5em;
}

.table table{
    width: 65%;
}

.table table tr{
    transition-property: background-color;
    transition-duration: 1s;
}

.table table tr:hover{
    background-color: #C9ADA7;
    height: 30px;
}


